html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
*{
    margin: 0rem;
    padding: 0rem;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}
header{
    width: 100%;
    height: 78.7rem;
    background-image: url(../IMG/FONDO.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    padding-bottom: 4rem;
}
main div{
    margin-top: 2rem;

}
header h1{
    font-weight: 400;
    font-size: 9rem;
    color: white;
    text-shadow: -0.3rem 0 #000000, 0.3rem 0 #000000, 0 -0.3rem #000000, 0 0.3rem #000000;
}
header h2{
    color: rgb(255, 104, 78);
    font-size: 6rem;
}
.container{
    width: 30rem;
    height: 150rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cartas{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160rem;
}
.janet{
    width: 100%;
    height: 70rem;
}
main{
    background-image: url(../IMG/fondo2.webp);
    background-size: cover;
    background-position: center;
}
main:after{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.card{
    height: 5rem;
    flex: 1;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    transition: 1s all ease;
}
.card:hover{
    flex: 5;
    box-shadow: 0 1rem 2rem black;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.card span{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    transform: translateX(-100%);
}
.card:hover>span{
    background: rgba(0, 0, 0, .7);
}
.card .ver{
    visibility: hidden;
}
.card:hover .ver{
    visibility: visible;
    height: 56.3rem;
}
.card p{
    margin-top: 5rem;
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
}
a{
    color: cyan;
    font-size: 3rem;
}
.sich{
    height: 40rem;
    text-align: center
}
.sich article p{
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    background-color: rgba(0,0,0, 0.4);
    color: white;
}
.janet {
    height: 47rem;
    text-align: center   
}
.janet article p{
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    background-color: rgba(0,0,0, 0.4);
    color: white;
}
h1{
    color: rgb(65, 65, 184);
    font-weight: 400;

}
